.root{
    width: 100%;
    :global{
        .color-selector{
            width: 180px;
            padding: 1px;
            border-radius: 10px;
            box-shadow: 0 0 10px 1px var(--main-shadow-color);
            transition: @transition-time;
            border: 0;

            &:hover {
                box-shadow: 0 0 1px 1px var(--theme-color);
            }

            &__title,&__main{
                margin:20px;
            }
            &__main{
                .func-flex(space-between);
                &_item {
                    cursor: pointer;
                    width: 15px;
                    height: 15px;
                    transition: @transition-time;

                    &:hover {
                        opacity: .8;
                    }
                }
            }
        }
    }
}
