.root {
  height: 100%;
  max-height: 100vh;

  :global {
    .controller {
      width: 230px;
      position: relative;
      border-radius: 20px;
      height: 100%;
      transition: @transition-time;
      background-color: var(--box-background-color);
      overflow: hidden;

      &--shrink {
        width: 74px;
      }
    }

    .menu__btn--shrink {
      margin-left: -155px;
    }

    .menu__header--shrink {
      margin-left: -38px;
    }

    .menu {
      background: var(--box-background-color);
      width: 230px;
      position: absolute;
      height: 100%;
      border-radius: 30px;
      box-sizing: border-box;
      padding: 20px 0;
      .func-flex(space-between, center, column);

      &__header {
        .func-flex(flex-start);
        width: 100%;
        padding-left: 30px;
        transition: @transition-time;

        .header_main {
          width: 100%;
          .func-flex(flex-start);

          &__logo {
            width: 50px;
            height: 50px;
            object-fit: contain;
            border-radius: 50%;
            border: 5px solid var(--background-color);
            box-shadow: 0 0 10px 5px var(--main-shadow-color);;
            background-color: var(--theme-color);
            .func-flex();

            & img {
              width: 30px;
              height: 30px;
              object-fit: cover;
            }
          }

          &__title {
            height: 50px;
            line-height: 50px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 18px;
            font-weight: 700;
            margin-left: 20px;
            color: var(--nav-active-color);
          }
        }
      }

      &__nav {
        flex: 1;
        width: 100%;
        overflow-y: auto;
        .func-flex(space-between, left, column);

        .nav_container {
          flex: 500px;
          padding: 16px 0 0 10px;
        }

        .nav__item {
          width: 100%;
          height: 30px;
          border-radius: 25px 0 0 25px;
          padding: 25px 15px 25px 22px;
          margin: 5px 0;
          .func-flex(flex-start);
          position: relative;
          z-index: 1;
          color: var(--font-color);
          font-weight: 550;
          cursor: pointer;

          &--active {
            color: var(--nav-active-color);
            background-color: var(--background-color);
            &:hover{
              color: var(--nav-active-color) !important;
            }

            .nav__item_icon {
              color: var(--theme-color);
              box-shadow: unset;

              &::before, &::after {
                content: '';
                position: absolute;
                transition: @transition-time;
                width: 25px;
                height: 25px;
                background-color: var(--background-color);
                z-index: 1;
                left: 195px;
              }

              &::before {
                top: -25px;
              }

              &::after {
                bottom: -25px;
              }
            }

            .nav__item_content {
              &::before, &::after {
                content: '';
                position: absolute;
                transition: @transition-time;
                width: 25px;
                height: 25px;
                background-color: var(--box-background-color);
                left: 195px;
                z-index: 1;
              }

              &::before {
                border-radius: 0 0 25px 0;
                top: -25px;
              }

              &::after {
                border-radius: 0 25px 0 0;
                bottom: -25px;
              }
            }
          }

          &:hover {
            color: var(--theme-color);

            .nav__item_pointer {
              opacity: 1;
              right: 20px;
            }

            .nav__item_icon--shrink {
              color: var(--theme-color);
            }
          }

          &_pointer {
            position: absolute;
            transition: @transition-time;
            color: var(--theme-color);
            right: 40px;
            opacity: 0;
          }

          &_icon {
            width: 30px;
            height: 30px;
            margin-left: -10px;
            border-radius: 50%;
            background-color: var(--box-background-color);
            box-shadow: -5px 5px 8px 3px var(--main-shadow-color);
            .func-flex();

            &--shrink {
              &::before, &::after {
                z-index: 1;
                left: 39px !important;
              }

            }
          }

          &_content {
            margin-left: 30px;
            font-weight: bold;
            white-space: nowrap;
            text-overflow: ellipsis;

            &--shrink {
              &::before, &::after {
                border-radius: 0 0 25px 0;
                left: 39px !important;
              }

            }
          }
        }
      }

      &__btn {
        cursor: pointer;
        transition: @transition-time;

        &_icon {
          width: 40px;
          height: 40px;
          background-color: var(--box-background-color);
          border-radius: 50%;
          box-shadow: 5px 5px 8px 5px var(--main-shadow-color);
          .func-flex();
          color: var(--theme-color);
        }
      }

      .welcome {
        box-sizing: border-box;
        margin: 20px;
        border-radius: 30px;
        padding: 20px;
        transition: .3s;
        background-color: var(--background-color);

        &--shrink {
          transform: translateX(-230px);
        }

        &__title {
          font-size: 16px;
          font-weight: 700;
          color: var(--nav-active-color);
        }

        &__info,
        &__btn {
          margin-top: 10px;
          font-weight: 500;
          color: var(--font-color);
        }

        &__btn {
          background-color: var(--theme-color);
          padding: 5px 10px;
          color: var(--box-background-color);
          border-radius: 10px;
          .func-flex(space-between);
          cursor: pointer;
        }
      }
    }
  }
}

.container {
  :global {
    .themes {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      place-items: center;
      margin-top: 50px;

      .theme__item {
        margin: 20px;
        .func-flex()
      }

      .theme_btn {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: linear-gradient(to left, #ffffff 50%, #fd8b35 50%);
        box-shadow: 5px 10px 10px 5px #eee;
        cursor: pointer;
        transition: @transition-time;

        &:hover {
          transform: scale(1.2);
        }

        &:nth-child(2) {
        }
      }
    }
  }
}


