.root{
  height: 100%;

  :global {
    .function-menu {
      background: var(--box-background-color);
      width: 230px;
      height: 100%;
      border-radius: 20px;
      box-sizing: border-box;
      padding: 20px 0;
      color: var(--font-color);
      .func-flex(flex-start, center, column);

      &__header {
        .func-flex(flex-start);
        width: 100%;
        padding: 0 30px;
        margin-bottom: 10px;
        transition: @transition-time;

        &_container {
          .func-flex(space-between);
          width: 100%;

          &__icon {
            width: 20px;
            height: 20px;
            font-size: 28px;
            .func-flex();
            color: var(--theme-color);
            cursor: pointer;
          }
          &__title {
            font-size: 18px;
            font-weight: 600;
          }
        }
      }

      &__nav{
        flex: 1 0 auto;
        width: 100%;
        .func-flex(flex-start, center, column);
        overflow: hidden auto;
        .nav_container{
          .func-flex(flex-start, center, column);
          width: 100%;
          flex: 1 0 auto;
          overflow: hidden auto;
          height: 10px;
        }
        .nav__item{
          margin-top: 30px;
        }
      }
    }
  }
}
