.root{
    :global{
        .slider {
            width: 180px;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 0 10px 1px var(--main-shadow-color);
            transition: @transition-time;

            &:hover {
                box-shadow: 0 0 1px 1px var(--theme-color);
            }

            &__title,
            &__main {
                .func-flex(space-between);
                margin: 5px;
            }

            &__title_input {
                width: 70px;
                height: 30px;
                border-radius: 5px;
                box-sizing: border-box;
            }

            &__main_bar {
                width: 100%;
                padding: 0 5px;
            }
        }
    }
}
