.models {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .func-flex(flex-start, felx-start, row, wrap);
    gap: 20px;
}

.model__item {
    display: flex;
    width: 250px;
    height: 100px;
    padding: 10px 20px;
    border-radius: 13px;
    background: #ffffff;
    border: 1px solid #dddddd;
    .func-flex(space-between);
    cursor: pointer;
    transition: @transition-time;

    &:hover {
        transform: translateY(-10px);
        border: 1px solid var(--theme-color);
    }

    :global {
        .model__item_img {
            flex: 0 0 50px;
            width: 50px;
            height: 50px;
        }

        .model__item_main {
            width: 140px;
            padding: 5px 0;
            height: 100%;
            .func-flex(space-between, flex-start, column);

            .main__title {
            }

            .main__content {
                width: 100%;
                max-height: 40px;
                font-size: 12px;
                color: #bbbbbb;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
